{{ eayunstack_log_base }}/{{ project_name}}/*.log {
    weekly
    rotate {{ senlin_logrotate_conf.rotate }}
    minsize {{ senlin_logrotate_conf.minsize }}
    compress
    missingok
    notifempty
}
