listen senlin-api
  bind {{ management_vip }}:{{ senlin_api_port }}
  bind {{ public_vip }}:{{ senlin_api_port }}
  mode http
  option  httpchk
  option  httplog
  option  httpclose
{% for host in groups['controller'] %}
  server {{hostvars[host]['ansible_hostname']}} {{ hostvars[host]['ansible_' + hostvars[host]['network_scheme']['roles']['management']|replace('-', '_')]['ipv4']['address'] }}:{{senlin_api_port}}   check inter 10s fastinter 2s downinter 3s rise 3 fall 3
{% endfor %}
